# Project Ignores
uploads/*
skins/core/scripts/libs/ckeditor-r*

# Logs
mvc/logs/*
*.log

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# 'Annoyings'
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
._*
