article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section {
	display: block;
}

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

:focus {
	outline: 0;
}

.clearfix:before, .clearfix:after { 
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

ul, ol {
	margin: 0;
}

a:hover {
	text-decoration: underline;
}

:focus {
	outline: none;
}

html, body {
	margin: 0;
	height: 100%;
}

#container > header {
	background: url(../../assets/images/header.background.png) repeat-x top left;
	height: 182px;
}

#container > header .constrain {
	height: 182px;
	position: relative;
}

#container > header #logo {
	width: 201px;
	height: 73px;
	display: block;
	background: url(../../assets/images/header.logo.png) no-repeat top left;
	text-indent: -5000em;
	margin: 19px 0 0 -16px;
}

#container > header h1 {
	margin: 0;
}

#container > header h2 {
	color: #7e8285;
	font-size: 25px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	position: absolute;
	right: 0;
	top: 50px;
}

#container > header h2 span {
	line-height: 1.0em;
	color: #fff;
	font-size: 20px;
	padding: 0 2px 0 5px;
}



.breadcrumb {
	clear: both;
	overflow: auto;
	padding: 4px 8px;
}

.breadcrumb ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 11px;
}

.breadcrumb li {
	color: #333;
	float: left;
	margin-right: 6px;
	background: url(../../assets/images/page.breadcrumb.separator.png) no-repeat right 5px;
	padding-right: 12px;
}

.breadcrumb .first-child, .breadcrumb .last-child {
	background: none;
	margin-right: 0;
}

.breadcrumb a {
	color: #E7551E;
	font-weight: bold;
	text-decoration: none;
}

.breadcrumb a:hover {
	color: #2C3339;
	text-decoration: underline;
}



.box-submenu {
}

.box-submenu h2 {
	display: block;
	width: 297px;
	height: 40px;
	background: url(../../assets/images/menu.sub.header.png) no-repeat top left;
	color: #ffffff;
	line-height: 35px;
	margin: 0;
	padding: 0;
}

.box-submenu h2 a {
	margin: 0 !important;
	color: #ffffff !important;
	color: inherit;
}

.box-submenu h2 span {
	padding: 0 80px 0 12px;
	text-transform: uppercase;
	font-size: 15px;
}


.product {
	position: relative;
	border-bottom: solid 1px #cccccc;
	padding: 8px 0;
}

.product header {
	font-size: 14px;
	padding: 8px 0 4px;
}

.product .thumbnail {
	border: solid 1px #cccccc;
	background: #fff;
	display: block;
	width: 106px;
	height: 106px;
	float: left;
	
	margin-right: 12px;
}

.product .thumbnail.left {
	margin-right: 8px;
}

.product .thumbnail.right {
	margin: 0;
}

.product .thumbnail img {
	margin: 3px;
	display: block;
}

.product .details {
	float: left;
	width: 486px;
	margin-right: 8px;
	height: 108px;
}

.product .title {
	float: left;
	color: #E53812;
}

.product .title a {
	color: #E53812;
	text-decoration: none;
}

.product .code {
	float: right;
	color: #E53812;
}

.product .price {
	float: left;
	font-size: 16px;
	line-height: 23px;
	color: #E53812;
}

.product .code span, .product .price span {
	color: #999;
}

.product .price span {
	padding-right: 4px;
}

.product .description p {
	margin: 0;
}

.product .button {
	float: left;
	position: absolute;
	bottom: 16px;
}

.product.last-child, .product.full-details {
	border-bottom: 0;
	padding-bottom: 0;
}

.product.last-child .button {
	bottom: 8px;
}


#products h2 {
	display: block;
	height: 40px;
	background: url(../../assets/images/page.header.png) no-repeat top right;
	color: #ffffff;
	line-height: 35px;
	margin: 0;
	padding: 0;
}

#products h2 a {
	color: #ffffff;
}

#products h2 span {
	padding: 0 80px 0 12px;
	text-transform: uppercase;
	font-size: 15px;
}




#sub-menu {
	list-style: none;
	padding: 0;
}

#sub-menu li {
	border-bottom: solid 1px #ccc;
}

#sub-menu li.last-child {
	border: none;
}

#sub-menu li a {
	font-size: 1.1em;
	display: block;
	background: url(../../assets/images/menu.sub.markers.png) no-repeat right -39px;
	height: 40px;
	line-height: 40px;
	margin: 0 8px;
	color: #2C3339;
}

#sub-menu li a:hover {
	color: #E7551E;
	background-position: right 0;
}

#sub-menu li.selected a {
	color: #E7551E;
	background-position: right 0
}


/* MENUS */
#primary, #primary ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#primary li {
	float: left;
	color: #E6541E;
	background: url(../../assets/images/header.separator-grey.png) no-repeat center right;
}

#primary li.first-child a {
	padding-left: 0;
}

#primary ul li.last-child a {
	padding-right: 0;
}

#primary li.last-child, #primary li.no-separator {
	background: none;
}

#primary > li.last-child {
	float: right;
}

#primary li a {
	color: #999999;
	text-decoration: none;
	line-height: 36px;
	height: 36px;
	display: block;
	padding: 0 9px 0 8px;
}

#primary li a:hover {
	text-decoration: underline;
}

#primary li.highlight a {
	color: #FFFFFF;
}

#primary li a span {
	color: #E6541E;
}

.menu-center {
	height: 39px !important;
	position: absolute !important;
	bottom: 0 !important;
	overflow: visible;
}


#secondary {
	margin: 0;
	padding: 0;
	float: right;
	height: 39px;
	list-style: none;
	overflow: visible;
	position: relative;
	right: 50%;
}

#secondary li {
	float: left;
	position: relative;
	left: 50%;
}

#secondary li a {
	font-size: 15px;
	line-height: 35px;
	color: #fff;
	text-transform: uppercase;
	padding: 0 15px;
	display: block;
	height: 39px;
}

#secondary > li.selected a:after {
	content: '';
	background: url(../../assets/images/menu.sub.pointer.png) no-repeat bottom center;
	width: 100%;
	height: 10px;
	position: absolute;
	top: 39px;
	left: 0;
	display: block;
}

#secondary > li.grey.selected a:after {
	top: 42px;
	background: url(../../assets/images/menu.sub.pointer.png) no-repeat top center;
}

#secondary li.grey {
	height: 42px;
	background: url(../../assets/images/header.greytab-left.png) repeat-x top left;
	position: relative;
	bottom: 3px;
	margin: 0 1px;
}

#secondary li.grey a {
	padding: 0;
}

#secondary li.grey span {
	padding: 2px 15px 0;
	display: block;
	background: url(../../assets/images/header.greytab-right.png) no-repeat top right;
}

#secondary li.first-child {
	background: url(../../assets/images/header.separator-orange.png) no-repeat top right;
}

#secondary li.last-child {
	background: url(../../assets/images/header.separator-orange.png) no-repeat top left;
}

#secondary li.first-child a {
	padding-right: 17px;
}

#secondary li.last-child a {
	padding-left: 17px;
}

#secondary li a:hover {
	color: #000;
}

#secondary .sub-menu {
	display: none;
	list-style: none;
	position: absolute;
	left: auto;
	background: red;
	margin: 0;
	padding: 0;
	z-index: 2;
}

#secondary .last-child .sub-menu {
	right: 0;
}

#secondary .sub-menu li {
	position: static;
	float: none;
	width: 250px;
}

#secondary .sub-menu li a {
	font-size: 0.85em;
}



/* HOMEPAGE */
.column-container {
	padding-top: 16px;
}

.left-column {
	width: 315px;
	float: left;
}

.right-column {
	width: 634px;
	float: right;
}

.box {
	background: #fff;
	border: solid 1px #cdcdcd;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 1px 1px 4px #cdcdcd;
	
	margin-bottom: 8px;
}

.box .spacing {
	margin: 8px;
}

.left-column .box a {
	display: block;
	margin: 8px;
	text-decoration: none;
	font-size: 19px;
	color: #E7551E;
}

.left-column .box a img {
	display: block;
}

.left-column a .strip {
	height: 63px;
	display: block;
	padding-right: 120px;
	line-height: 1.25em;
	text-transform: uppercase;
	background: url(../../assets/images/boxes/box.strip.background.png) no-repeat top right;
}

.left-column .box a:hover .strip em {
	color: #fff;
}

.left-column a .strip em {
	display: block;
	padding: 5px 15px;
}


/* END */
.article-home h1 {
	margin: 0 0 0.5em 0;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: right;
}

.article-home p {
	color: #ffffff;
	text-align: right;
}

.news {
	padding: 1.0em 0;
}

.news .content {
	padding: 0 1.0em;
}

.news .content a {
	color: #E7551E;
}

.news .content h2 {
	margin: 0 0 0.25em;
}

.news .content a:hover {
	color: #2C3339;
}

.news .author {
	float: left;
	color: #888;
}


a.button {
	display: block;
	height: 23px;
	margin-right: 11px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	line-height: 22px;
	padding: 0 0 0 8px;
	margin-right: 11px;
}

a.button span {
	display: block;
	width: 11px;
	height: 23px;
	float: right;
	margin-right: -11px;
	padding: 0 0 0 5px;
}

a.orange {
	color: #ffffff !important;
	background: url(../../assets/images/button.orange-left.png) no-repeat left top;	
}

a.grey {
	background: url(../../assets/images/button.grey-left.png) no-repeat left top;	
}

a.orange span, button.orange span {
	background: url(../../assets/images/button.orange-right.png) no-repeat right top;
}

a.grey span {
	background: url(../../assets/images/button.grey-right.png) no-repeat right top;
}


/* UI SLIDE */
.ui-slider {
	position: relative;
	margin: 14px 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.ui-widget-content {
	background: url(../../assets/images/ui.slide-control.disabled.png) repeat-x left center;
}

.ui-slider-horizontal {
	height: 9px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.5em;
	margin-left: -.75em;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.ui-widget-header {
	background: url(../../assets/images/ui.slide-control.enabled.png) repeat-x left center;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider .ui-slider-handle {
	width: 20px;
	height: 20px;
	background: url(../../assets/images/ui.slide-control.png) no-repeat center center;
	cursor: default;
	z-index: 2;
	position: absolute;
}


.slide-pane {
	overflow: hidden;
	margin: 8px 12px;
}

.slide-content {
	list-style: none;
	padding: 0;
}

.slide-content li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}


/* Related products */
.product-item {
	width: 308px;
}

#related {
	margin-bottom: 16px;
}


/* CART */
.cart-container {
	padding: 6px 8px;
	margin-bottom: 16px;
}

#cart {
	margin: 0;
	width: 100%;
	background: url(../../assets/images/cart.header.png) repeat-x 3px 3px;
}

#cart th {
	height: 38px;
	line-height: 28px;
	color: #fff;
	background: url(../../assets/images/cart.separator-grey.png) no-repeat right center;
	text-transform: uppercase;
	position: relative;
	right: -2px;
	padding-right: 2px;
}

#cart th:last-child {
	background: none;
}

#cart tbody td {
	border: solid 1px #ccc;
	padding: 6px;
}

#cart td.money { 
	text-align: right; 
}

#cart td.code, #cart td.quantity { 
	text-align: center;
}


/* HOMEPAGE _> NEWS */
#news-latest {
	overflow: hidden;
}

#news-latest ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
}

#news-latest ul li {
	float: left;
	width: 310px;
}

#news-latest img {
	display: block;
}

.tab {
	display: inline-block;
	background: url(../../assets/images/ui.tab-left.png) no-repeat top left;
	height: 29px;
	position: relative;
	top: 1px;
	line-height: 29px;
	padding: 0 5px;
	color: #2C3339;
	text-transform: uppercase;
}

.tab span {
	background: url(../../assets/images/ui.tab-right.png) no-repeat top right;
	display: block;
	float: right;
	margin-right: -8px;
	padding-right: 15px;
}

.news-pane {
	margin: 8px 12px; overflow: hidden; width: 930px;
}

.box.tabbed {
	border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
}




#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -93px;
}

.constrain {
	width: 960px;
	margin: 0 auto;
}

#push {
	height: 93px;
}






/* FORM */
form {
	
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.row {
	margin-bottom: 0.5em;
}

.row small {
	display: block;
	padding: 2px 0 0 8px;
	color: #333333;
}

.row small a {
	color: #2C3339;
}

.row small a:hover {
	color: #000000;
}

.row > span {
	display: inline-block;
	background: #dfdfdf;
	padding: 2px 4px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.row input[type="text"], .row input[type="password"] {
	font-size: 1.0em;
	border: solid 1px #bdbdbd;
	padding: 4px 3px;
	width: 200px;
}

.row textarea {
	width: 200px;
	min-height: 120px;
	font-size: 1.0em;
	border: solid 1px #bdbdbd;
	margin: 2px 0px;
	padding: 4px 3px;
	display: block;
}

.row.checkbox {
	margin: 16px 0;
}

.row.checkbox span {
	float: left;
	margin-right: 6px;
	position: relative;
	top: 1px;
}

.row.checkbox label {
	margin-left: 4px;
	width: 300px;
	float: left;
	line-height: 1.25em;
}

.row label { 
	display: block;
	font-weight: bold;
	color: #666;
	line-height: 1.5em;
}

.row-error label {
	color: #E7551E;
}

.contact_notes {
	color: #999;
	line-height: 1.0em !important;
}

/* FORM ERRORS */
.row.form-errors {
	margin-bottom: 0.5em;
}

.row.form-errors ul {
	list-style: outside square;
	padding: 0.25em 0 0.75em 2.25em;
}






/* MAIN FOOTER */
body > footer {
	background: url(../../assets/images/footer.background.png) repeat-x top left;
	height: 93px;
}

body > footer .constrain {
	height: 93px;
	background: url(../../assets/images/footer.accreditations.png) no-repeat center left;
}

body > footer .outer {
	list-style: none;
	padding-top: 15px;
}

body > footer .inner {
	clear: both;
	list-style: none;
}

body > footer .inner a {
	color: #6C6D72;
	text-decoration: none;
}

body > footer .inner li {
	float: left;
}

body > footer .outer .first-child .first-child, body > footer .outer .first-child .first-child a {
	color: #E7551E;
	font-weight: bold;
}

body > footer .outer .last-child .last-child a {
	color: #fff;
}

body > footer .outer > li {
	display: block;
	float: right;
	clear: both;
}

body > footer .inner li a {
	padding-right: 10px;
	padding-left: 5px;
}

body > footer .inner li a {
	background: url(../../assets/images/footer.separator.png) no-repeat right 2px;
}

body > footer .inner li.last-child a {
	padding-right: 0;
	background: none;
}

body > footer a:hover {
	color: #fff;
	text-decoration: underline;
}