/* Ensure the CMS looks the same back and front */
body.page-content {
	font: 62.5%/1.0em 'Arial', 'Helvetica', sans-serif;
	color: #333;
	width: 410px;
}

.page-content h1 {
	margin: 0;
	color: #8D8D7F;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 1.5em;
	margin-bottom: 1.1em;
}

.page-content h2 {
	color: #000;
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: 1.1em;
	font-weight: normal;
}

.page-content h3 {
	margin: 0;
	display: none;
}

.page-content h4 {
	margin: 0;
	display: none;
}

.page-content h5 {
	margin: 0;
	display: none;
}

.page-content h6 {
	margin: 0;
	display: none;
}

.page-content p {
	font-size: 1.1em;
	line-height: 1.6em !important;
}

.page-content {
	
}

.page-content ul {
	list-style: disc outside;
}

.page-content a {
	color: #99002A;
	text-decoration: none;
}

.page-content a:hover {
	color: #000000;
	text-decoration: underline;
}

.page-content ul, .page-content ol {
	font-size: 11px;
	line-height: 1.6em !important;
	margin-left: 0;
	padding-left: 2.0em;
}

.page-content .top-container {
	font-size: 1.1em;
}

.page-images img {
	margin-bottom: 15px;
	display: block;
}

.page-images a:last-child img {
	margin-bottom: 0;
}