.page-content {
	font: normal 15px/20px 'Arial', sans-serif;
	width: 600px;
}

.homepage .page-content {
	width: 600px;
}

.homepage .page-content h1 {
	font-size: 3.0em;
	letter-spacing: -0.03em;
	margin-bottom: 0.25em;
}

.page-content h1, .page-content h2 {
	font-weight: normal;
	color: #991a2e;
}

.page-content h2 {
	font-weight: bold;
	font-size: 1.35em;
	margin-top: 2.0em;
}

.page-content h3 {
	
}

.page-content h4 {
	
}

.page-content h5 {
	
}

.page-content h6 {
	
}

.page-content a {
	color: #991A2E;
	text-decoration: underline;
}

.page-content a:hover {
	color: #000;
}

.page-content p {
	margin: 1.25em 0 1.5em;
}

.page-content hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 auto;
	padding: 0;
}

.page-content ul {
	list-style: outside disc;
	margin-left: 2.5em;
}

.page-content ol {
	margin-left: 2.5em;
}

.page-content iframe {
	
}